@media (min-width: 1px)and
(max-width: 1330px){

    .flex-container{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    
}




@media(min-width: 1231px)and
(max-width: 1241px){

    .content-aside{
       min-width: 39.9vw;    
    }

    

}



@media(min-width: 1242px) {

    .content-aside{
        min-width: 6vw;       
    }
   
}

