*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body{

    background-color: #040303;
    color: rgb(228, 225, 225);
    

}

header, nav, article, footer,section, div,aside{

    background-color: #191919;
    border-radius: 5px;    
    padding: 10px;
    margin: 10px;
    border-width: 1px;
    border-style: solid;
    

}

header{
    border-color: rgb(33, 211, 33);
    
}

.header-body{
    min-height: 100px;
    
}


nav{
    border-color: pink;
    min-height: 60px;

}

article{
    border-color: blue;
    
}



section{
    border-color: rgb(112, 216, 199);
    min-height: 60px;

}

footer{
    border-color: orange;

}

div{
    border-color: rgb(236, 238, 111);
}

.spacing{
    min-height: 300px;
    min-width: 63vw;
}

.flex-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
   

}

aside{
    border-color: rgb(54, 189, 189);
}

.content-aside{
    max-width: 6.5vw;
    border: 10px;
    min-height: 100px;
    padding: 10px;
}

.header-article{
   
    min-height: 70px;
    
   
}